<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Drinkly</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">


      <div id="textBack">
      <ion-row id="headText" size="4">
        <p>Welcome to Drinkly! <br> You can look up drinks by their names, search for information about the ingredients, or pick a <br> random drink!</p>
      </ion-row>
      </div>

      <ion-card>

        <div id="buttons">

              
              

              <ion-row id="buttonList">
                
                <ion-col size="8">
                  <ion-button routerLink="/home" routerDirection="forward">
                    <ion-icon id="beer" size="default" class="ion-activatable ripple-parent" name="wine-outline"></ion-icon>
                    Drink Search By Name
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-button>
                </ion-col>
                

                
              </ion-row>

              <ion-row id="secondayButtons">
                
                <ion-col size="8">
                  <ion-button id="infoButton" routerLink="/ingredients" routerDirection="forward">
                    <ion-icon id="ingredInfo" size="default" class="ion-activatable ripple-parent" name="document-text-outline"></ion-icon>
                    Ingredient Information
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-button>
                
                  
                </ion-col>

                
              </ion-row>

              <ion-row >
                
                <ion-col size="8">
                  <ion-button id="infoButton" routerLink="/random" routerDirection="forward">
                    <ion-icon id="globe" size="default" class="ion-activatable ripple-parent" name="globe-outline"></ion-icon>
                    Random Drink Search 
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-button>
                
                  
                </ion-col>

                
              </ion-row>

              
                

            </div>

    </ion-card>
  
</ion-content>
