
ion-menu-button {
  color: var(--ion-color-primary);
}

#container {

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
}

#container a {
  text-decoration: none;
}





ion-title {
  text-align: center;
}



ion-toolbar {
  --background: rgba(10, 53, 66, 0.93);
  border: 0px;
}

ion-title {
  font-family: 'Molle', cursive;
  color: #aee0e8;
}


#beer {
  margin-right: 10px;
}

#ingredInfo {
  margin-right: 10px;
}

#globe {
  margin-right: 10px;
}

ion-content {
  --background: url("/assets/img/bar.jpg") no-repeat center center / cover;
}



ion-grid.ios.hydrated {
  margin: 0px;
  padding: 0px !important;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
}

ion-card {
  background: none;
  margin: 0 !important;
  padding: 0 !important;
  margin-inline-start: 0% !important;
  margin-inline-end: 0% !important;
  margin-left: none !important;
  align-items: center;
}

ion-button {
  --background: rgba(10, 53, 66, 0.93);
  color: #aee0e8;
  font-size: x-large;
  font-family: 'Kalam', cursive;
  padding-bottom: 3px;
  border-radius: 10px;
  width: 13em;
  padding-left: .75ems;

}

ion-col.ios.hydrated {
  padding: 0px !important;
}

ion-row #buttonList.ios.hydrated {
  padding: 0px !important;
}

#buttons {
  margin-left: 3em;
}

#headText {
  margin: 5px;
  
  font-size: x-large;
}

#headText p {
  background: rgba(10, 53, 66, 0.93);
  font-family: 'Kalam', cursive;
  text-align: center;
  border-radius: 5px;
  margin-left: 2.2em;
  margin-right: 2em;
}

ion-menu-button {
  color: #aee0e8;
} 

ion-title.ios.title-large.hydrated {
  padding-top: 5px;
  margin-top: 6px;
}

ion-menu-button {
  float: left;
}

ion-card.md.hydrated {
  margin: 0px !important;
  padding: 0px !important;
  margin-inline-start: 0% !important;
  margin-inline-end: 0% !important;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 413px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 



    ion-button {
      --background: rgba(10, 53, 66, 0.93);
      color: #aee0e8;
      font-size: x-large;
      font-family: 'Kalam', cursive;
      padding-bottom: 3px;
      border-radius: 10px;
      padding-right: .75em;

    }

    ion-card.ios.hydrated {
      margin: 0;
      padding-right: 0;
      margin-inline-start: 0%;
      margin-inline-end: 0%;
    }

    ion-menu-button {
      float: left;
    }

    ion-title.ios.title-large.hydrated {
      padding-top: 5px;
      margin-top: 6px;
    }

    ion-card.md.hydrated {
      margin: 0 !important;
      padding: 0 !important;
      margin-inline-start: 0%;
      margin-inline-end: 0%;
    }

    ion-icon {
      size: medium !important;
    }

    



}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 374px)
  and (-webkit-min-device-pixel-ratio: 2) {


    ion-button {
      --background: rgba(10, 53, 66, 0.93);
      color: #aee0e8;
      font-size: large;
      font-family: 'Kalam', cursive;
      padding-bottom: 3px;
      border-radius: 10px;
      padding-right: .25em;

    }

    #headText {
          margin: none;
          margin-left: 0px;
          margin-right: 0px;
    }

    ion-row p {
      margin: none;
      padding: none;
      margin-left: 0px;
      margin-right: 0px;
      font-size: medium;
    }

    ion-card.ios.hydrated {
      margin: 0px;
      padding: 0px !important;
      margin-inline-start: 0%;
      margin-inline-end: 0%;
      margin-left: .25em;
    }

    ion-menu-button {
      float: left;
    }

    ion-title.ios.title-large.hydrated {
      padding-top: 5px;
      margin-top: 6px;
    }

    ion-card.md.hydrated {
      margin: 0px !important;
      padding: 0px !important;
      margin-inline-start: 0%;
      margin-inline-end: 0%;
    }
}

